<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{post.title}}</title>
<meta name="description" content="{{post.description}}" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" integrity="sha512-IgmDkwzs96t4SrChW29No3NXBIBv8baW490zk5aXvhCD8vuZM3yUSkbyTBcXohkySecyzIrUwiF/qV0cuPcL3Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mskian/svelte-markdown-editor@main/public/global.css" integrity="sha512-rjk1VSKXLRmHJrvoQMMKbU/pa64W3ycegk9qYfL6V+jNfvNqAvhB7dSk5Zi41gSsikbe1ZEobrO+4xyOooLorQ==" crossorigin="anonymous">

<head>
<body>

<script src="https://cdn.jsdelivr.net/npm/marked@4.0.1/marked.min.js" integrity="sha256-qzUhVpKqiqYVRIQmTWVyvDYN9or3v7nWmxnsmErSCRA=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/dompurify@2.3.3/dist/purify.min.js" integrity="sha256-k7X9ZOIh5wX3Wt18aGA1Ked3xQVxRjO7uyRG1MpSws8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/mskian/svelte-markdown-editor@main/public/build/bundle.js" integrity="sha512-EOXe1E2V0oVQxPAvYZnO46UbbYwvo/Ccd5Z5ebl/gznaIpaNZJob5VG5GI4uGGJgKZZeUor6noAnL3j8wXFiWw==" crossorigin="anonymous"></script>

</body>
</html>