name: build-test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4.3.1
    - uses: actions/setup-node@v4.4.0
      with:
         node-version: '24.13.0'
    - name: use yarn and Test the App
      run: |
       yarn install
       yarn ci